<script src="https://cdn.jsdelivr.net/npm/microsoft-adaptivecards@0.6.1/built/adaptive-cards.min.js"></script>

<div *ngIf="showChatbot" class="chat-container" [@popupAnimation]>
  <!-- <div class="chat-container"> -->
  <div class="chat-header" style="box-shadow: 0 0 10px white">
    <p style="flex: 1; text-align: center; align-items: center">
      Bravishma Copilot
    </p>
    <!-- <span style="position: absolute; right: 19px; bottom: 11px">
      <app-geolocation
        style="margin-right: 70px; margin-bottom: 10px"
      ></app-geolocation>
    </span> -->
    <span
      ><img
        style="
          height: 1.4rem;
          text-align: center;
          padding-top: 3px;
          /* color: white; */
          filter: brightness(100);
          cursor: pointer;
        "
        src="./assets/cross.png"
        alt=""
        (click)="closechat()"
    /></span>
  </div>

  <!-- <div class="chat-messages"  style="overflow-anchor: none;"> -->
  <div class="chat-messages" #messageContainer>
    <div class="ll" *ngFor="let msg of chatMessages; index as i">
      <div
        class="message"
        [ngClass]="{
          bot: msg.userType === typeAgent || msg.userType === typeSystem,
          user: msg.userType === typeUser,
          anchor: chatMessages.length === i + 1
        }"
      >
        <img
          *ngIf="msg.userType === typeAgent || msg.userType === typeSystem"
          src="./assets/chat-logo.png"
          class="profile-image bot"
          [ngClass]="{bot: msg.userType === typeAgent || msg.userType===typeSystem,}"
          style="
            height: 25px;
            width: 25px;
            margin-bottom: 4px;
            margin-right: 5px;
            border-radius: 12px;
          "
        />

        <img
          *ngIf="msg.userType === typeUser"
          src="./assets/user-logo.svg"
          class="profile-image user"
          [ngClass]="{user: msg.userType === typeUser,}"
          style="height: 25px; width: 25px; margin-bottom: 4px"
        />

        <div
          class="message-content"
          [ngClass]="{
            botcol: msg.userType === typeAgent || msg.userType === typeSystem,
            cus: msg.userType === typeUser,
            file: msg.message_type === messsFile,
          }"
        >
          <!-- <div
            class="message-text"
            *ngIf="msg.type === 'message' && msg.attachments?.length > 0"
            [innerHTML]="getSafeHtml(msg.attachments[0].html)"
            (click)="onRatingSubmitted($event?.target)"
          ></div> -->
          <!--  div for if text only-->
          <div
            class="message-text"
            *ngIf="msg.message_type === messageTypeText"
            [innerHTML]="msg.text"
          ></div>
          <div
            class=""
            style="position: relative"
            *ngIf="msg.message_type === messageTypeImage"
          >
            <img style="width: 100%; height: 50px" [src]="msg" />
          </div>
          <div
            class=""
            style="position: relative"
            *ngIf="msg.message_type === messageTypeVideo"
          >
            <video
              controls
              style="width: 100%; height: 100%px"
              [src]="msg.video"
            ></video>
          </div>

          <div *ngIf="msg.message_type === messageType.Text">
            {{ msg.text }}
            <div *ngIf="msg.actions">
              <span *ngFor="let action of msg.actions">
                <span *ngIf="action.type === actionType.LocationRequest">
                  <button class="location-btn" (click)="handleSendLocation()">
                    {{ action.text }}
                  </button>
                </span>
              </span>
            </div>
          </div>
          <div *ngIf="msg.message_type === messageType.Image">
            <img
              style="width: 100%; height: 50px"
              [src]="msg.userType === typeUser ? msg.image.data : msg.image.url"
            />
          </div>
          <div *ngIf="msg.message_type === messageType.Audio">
            <audio
              controls
              [src]="msg.userType === typeUser ? msg.audio.data : msg.audio.url"
            ></audio>
          </div>
          <div *ngIf="msg.message_type === messageType.Video">
            <video
              controls
              style="width: 100%; height: 100%px"
              [src]="msg.userType === typeUser ? msg.video.data : msg.video.url"
            ></video>
          </div>
          <div
            class="file-container"
            *ngIf="msg.message_type === messageType.File"
          >
            <img
              style="height: 20px; margin-right: 4px"
              src="./assets/pdf.png"
              alt=""
            />
            <a
              style="
                text-decoration: none !important;
                color: black;
                display: flex;
              "
              [href]="msg.userType === typeUser ? msg.file.data : msg.file.url"
              [download]="msg.file.name"
              >{{ msg.file.name }}
              <span
                ><img
                  alt="Download"
                  style="height: 20px; margin-left: 4px"
                  src="./assets/download.png"
                  alt="" /></span
            ></a>
          </div>
          <div *ngIf="msg.message_type === messageType.Location">
            <!-- <strong>location : </strong>
            Latitude : {{msg.location.lat}} , Longitude : {{msg.location.long}} -->
            <!-- https://www.latlong.net/c/?lat=18.5855998&long=73.7830746 -->
            <!-- <a
              href="https://www.latlong.net/c/?lat={{
                msg.location.lat
              }}&long={{ msg.location.long }}"
              target="_blank"
              >location</a
            > -->
            <iframe [src]="msg.location.url"></iframe>
          </div>

          <!-- <div [ngSwitch]="msg.message_type">
            <div *ngSwitchCase="messageType.Text">text</div>
            <div *ngSwitchCase="messageType.Image">Image</div>
            <div *ngSwitchCase="messageType.Audio">Audio</div>
            <div *ngSwitchCase="messageType.Video">Video</div>
            <div *ngSwitchCase="messageType.File">File</div>
            <div *ngSwitchCase="messageType.Location">Location</div>
            <div *ngSwitchDefault>wtf</div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <form (ngSubmit)="sendText()" class="chat-input">
    <div
      class="drag-drop-container"
      style=""
      (drop)="handleDrop($event)"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
    >
      <!-- <input
        type="text"
        #messageInput
        name="message"
        placeholder="Ask me anything..."
        autocomplete="off"
        autofocus
        style="width: 100%;"
        [ngStyle]="{'width.%': inputSize}"
        (input)="updateInputSize($event)"
        
      /> -->
      <label for="fileInput" class="fileInput" style="">
        <span class="material-symbols-outlined" style="color: black">
          add
        </span>
      </label>

      <textarea
        #messageInput
        class="text-box"
        name="message"
        placeholder="Ask me anything..."
        autocomplete="off"
        style="width: 100%"
        rows="1"
        autofocus
        (input)="updateInputSize($event)"
        (input)="onInput($event)"
        (keydown)="handleEnterPress($event)"
        ></textarea>
        <!-- (keydown)="handleEnterPress($event)" -->
      <!-- [ngStyle]="{ 'height.px': inputSize }" -->

      <!-- <span style="" class="sendBten"> -->
      <!-- <button
          type="button"
          style="margin-bottom: 2px; border: none; background: white"
          (click)="handleSendLocation($event)"
        >
          <img style="height: 22px" src="../assets/location.png" alt="" />
        </button> -->

      <input
        id="fileInput"
        type="file"
        #fileInput
        (change)="handleFileSelect($event)"
        style="display: none"
      />

      <button
        type="submit"
        class="sendBten"
        style=""
        [ngClass]="{ 'typing-text': isTyping }"
      >
        <span
          style=""
          class="material-symbols-outlined send-icn"
        
        >
          send
        </span>
      </button>
      <!-- </span> -->
    </div>
  </form>

  <div
    *ngIf="isUserInactive"
    class="inactivity-popup"
    style="
      position: absolute;
      bottom: 76px;
      left: 51px;
      display: flex;
      gap: 49px;
    "
  ></div>
</div>

<div class="popup">
  <!-- <img style="height: 150px;" src="./assets/openchat.jpeg" alt="" (click)="toggleChatbot()"> -->
  <span
    *ngIf="popUpOpenopen"
    class="material-symbols-outlined"
    (click)="toggleChatbot()"
  >
    forum
  </span>
  <span
    *ngIf="popUpOpenClose"
    class="material-symbols-outlined"
    (click)="toggleChatbot()"
  >
    close
  </span>
</div>
